.disable {
  padding: 0 !important;
  transition: none !important;
}

.mainLayout {
  transition: all 0.2s;
  padding-top: 56px;
}

.mainLayout {
  min-height: 100vh !important;
  max-width: 100% !important;
}
